@import "variables";

body {
  background-color: $gray_light;
  color: $black;
}

h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}

.container {
  width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: $break-tablet) {
    width: 700px;
  }

  @media screen and (max-width: $break-mobile) {
    width: 400px;
  }

  @media screen and (max-width: $break-mobile-sm) {
    width: 350px;
  }

  @media screen and (max-width: $break-mobile-xs) {
    width: 300px;
  }
}
