
//Colours

$yellow : #FFE600;
$black : #333333;
$gray_light : #EEEEEE;
$gray_medium : #999999;
$gray_strong : #666666;
$blue : #3483FA;
$white: #FFFFFF;

//Responsive break

$break-tablet: "768px";
$break-mobile: "425px";
$break-mobile-xs: "320px";
$break-mobile-sm: "375px";
